<br><br>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <form id="user" [formGroup]="userUpdateForm" (ngSubmit)="onUserUpdate()">

                <div id="left-column">

                    <div class="admin-and-pp">

                        <div [ngClass]="{'pp': true, 'admin-pp': user.isAdmin}">
                            <img *ngIf="!user.profilePicture" src="../../../assets/images/default_pp/default1.png"
                                alt="default-profile-picture">
                            <img *ngIf="user.profilePicture" src="{{ user.profilePicture }}" alt="profile-picture">
                        </div>

                        <label for="attachment" class="attachment-btn" id="file">
                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                        </label>
                        <input class="hidden" id="attachment" formControlName="attachment"
                            (change)="onFileChange($event)" type="file">

                    </div>

                    <div id="member-connexion">
                        <h4>Dernière modification <br><span>Il y a {{user.updatedAt | timeAgo}}</span></h4>
                    </div>

                </div>

                <div id="right-column">

                    <div id="names">
                        <input type="text" ngModel="{{user.firstName}}" formControlName="firstName" id="firstName">
                        <input type="text" ngModel="{{user.lastName}}" formControlName="lastName" id="lastName">
                    </div>

                    <div id="biography">
                        <h3>Biographie</h3>
                        <input class="bio" type="text" maxlength="200" ngModel="{{user.biography}}"
                            formControlName="biography" id="biography">
                    </div>

                    <div id="birthday-job">

                        <div class="birthday">
                            <input type="date" class="birthday-input" ngModel="{{user.birthday}}" max="2020-01-01"
                                formControlName="birthday" id="birthday">
                            <fa-icon [icon]="faBirthdayCake"></fa-icon>
                        </div>

                        <div class="job">
                            <input class="job-input" ngModel="{{user.jobTitle}}" formControlName="jobTitle"
                                id="jobTitle">
                            <fa-icon [icon]="faBriefcase"></fa-icon>
                        </div>

                    </div>

                    <button id="submit" type="submit">Sauvegarder les modifications</button>

                </div>

            </form>

        </div>
    </div>
</div>