<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h3>Utilisateur (n°{{ user.id }})</h3>
            <br>
            <div class="list-group" id="post-list">
                <div class="list-group-item">
                    <div class="header-post">
                        <form class="form-group" [formGroup]="userUpdateForm" (ngSubmit)="onUserUpdate()">
                            <div class="user">
                                <img *ngIf="user.profilePicture == null"
                                    src="../../../assets/images/default_pp.png1637522636718.png"
                                    alt="default-profile-picture">
                                <img *ngIf="user.profilePicture !== null" src="{{ user.profilePicture }}"
                                    alt="profile-picture">
                                <div class="user-name-date">
                                    <div class="first-last-name">
                                        <input class="form-control" type="text" placeholder="{{ user.firstName }}"
                                            formControlName="firstName" id="firstName">
                                        <input class="form-control" type="text" placeholder="{{ user.lastName }}"
                                            formControlName="lastName" id="lastName">
                                        <span *ngIf="user.isAdmin === 1" id="admin">ADMIN</span>
                                    </div>
                                    <p>Membre depuis: <span>{{ user.createdAt | timeAgo }}</span> --- Dernière
                                        connexion: <span>il y a {{
                                            user.lastConnexion | timeAgo }}</span></p>
                                </div>
                            </div>
                            <h4>Biography</h4>
                            <input class="form-control" type="text" placeholder="{{ user.biography }}"
                                formControlName="biography" id="biography">
                            <br>
                            <h4>Job Title</h4>
                            <input class="form-control" type="text" placeholder="{{ user.jobTitle }}"
                                formControlName="jobTitle" id="jobTitle">
                            <br>
                            <h4>Birthday</h4>
                            <input class="form-control" type="date" value="{{ user.birthday }}"
                                formControlName="birthday" id="birthday">
                            <br><br>
                            <label class="btn btn-info form-control" for="attachment">
                                <span *ngIf="user.profilePicture !== null">Modifier la photo de profil</span>
                                <span *ngIf="user.profilePicture === null">Ajouter une photo</span>
                            </label>
                            <input type="file" class="hidden" id="attachment" formControlName="attachment"
                                (change)="onFileChange($event)">
                            <br><br>
                            <p>Dernière modification: <span id="updatedAt">il y a {{ user.updatedAt | timeAgo }}</span>
                            </p>
                            <br><br>
                            <div class="buttons"
                                *ngIf="(connectedUserInfo.isAdmin == 1) || (connectedUserInfo.id == user.id)">
                                <button class="btn btn-primary" type="submit" [disabled]="">Sauvegarder les
                                    modifications</button>
                                <br><br>
                                <button class="btn btn-danger" type="submit" [disabled]=""
                                    (click)="onDeleteUser()">Supprimer
                                    l'utilisateur</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br><br>