@import "../../../sass/styles.scss";

$pp-height: 45px;

#updatedAt {
  font-weight: 700;
}

.first-last-name {
  display: flex;
  margin-bottom: 20px;

  input {
    margin-right: 20px;
  }
}

#admin {
  font-size: 14px;
  margin-left: 6px;
  background-color: $primary-color;
  color: white;
  padding: 3px 12px;
  border-radius: 5px;
}

#content {
  margin-bottom: 20px;
  font-size: 18px;
}

.list-group-item {
  margin-bottom: 20px;
  padding: 15px 25px;
}

#attachment {
  display: flex;
  border-radius: 10px;
  height: 500px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;

  img {
    width: 100vw;
    height: 100vh;
  }
}

.user {
  display: flex;
  width: 70%;
  margin-top: -15px;
  margin-bottom: 20px;
  margin-left: 140px;

  img {
    height: $pp-height;
    width: $pp-height;
    border-radius: 100px;
    margin-left: -140px;
  }

  .user-name-date {
    margin-top: 30px;
    margin-left: -200px;

    span {
      font-weight: 700;
    }

    p {
      margin-top: -6px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  button {
    min-height: 35px;
    min-width: 49%;
  }
}
