<div id="posts-from-user-title">
    <h3>Publications de l'utilisateur</h3>
    <h3>{{posts.length}}</h3>
</div>

<div class="list-group" id="post-list">
    <div class="post-item" *ngFor="let post of posts;">

        <div class="post-header">

            <div class="pp-name">

                <div [ngClass]="{'pp': true, 'admin-pp': post.User.isAdmin}">
                    <img *ngIf="!post.User.profilePicture" src="../../../assets/images/default_pp/default1.png"
                        alt="default-profile-picture">
                    <img *ngIf="post.User.profilePicture" src="{{ post.User.profilePicture }}" alt="profile-picture">
                </div>

                <div class="name">
                    <p>{{post.User.firstName}}<br><span>{{post.User.lastName}}</span></p>
                </div>

            </div>

            <div class="buttons" *ngIf="userConnected.isAdmin || userConnected.id == post.user_id">
                <button id="edit" routerLink="../../posts/{{post.id}}/modify">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button id="delete" (click)="onDeletePost(post.id)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>

        </div>

        <div class="post-body">

            <div class="content">
                <p>{{post.content}}</p>
            </div>

            <div *ngIf="post.attachment" class="attachment">
                <img src="{{post.attachment}}" alt="post-attachment">
            </div>

        </div>

        <div class="post-comment">

            <div class="comment-header">

                <div class="buttons">

                    <div class="likes">

                        <button [ngClass]="{'liked-btn': isThisPostLiked(post.id)}" (click)="onLikePost(post.id)">
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </button>

                        <p>{{post.nbOfLikes}}</p>

                    </div>

                    <div class="comments">

                        <button class="comment-btn" routerLink="../../posts/{{post.id}}">
                            <fa-icon [icon]="faComment"></fa-icon>
                        </button>

                        <p>{{post.Comments.length}}</p>

                    </div>

                </div>

                <div class="post-date">
                    <p>Il y a {{post.createdAt | timeAgo}}</p>
                </div>

            </div>

            <form class="comment-form" id="comment-form" #createCommentForm="ngForm"
                (ngSubmit)="onCreateComment(createCommentForm.value, post.id)">

                <input type="text" placeholder="Commenter la publication..." minlength="5" name="content"
                    #content="ngModel" required ngModel>

                <button type="submit" [ngClass]="{'comment-submit': true, 'comment-success': commentedWithSuccess}"
                    [disabled]="content.invalid">
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                </button>

            </form>

        </div>

    </div>

    <div id="godiv" *ngIf="router.url !== '/dashboard/my-profile/user' && posts.length > 0">
        <h3 id="and-you">Et si vous aussi<br> vous écriviez vos <br>propres
            publications ?<br>
        </h3>
        <button id="go" routerLink="../../posts">Go</button>
    </div>

</div>