<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h3>Post (n°{{ post.id }})</h3>
            <br>
            <div class="list-group" id="post-list">
                <div class="list-group-item">

                    <div class="user router-link" routerLink="../../my-profile/{{ post.user_id }}">
                        <div class="pp-and-name">
                            <div class="pp">
                                <img *ngIf="!post.User.profilePicture"
                                    src="../../../assets/images/default_pp.png1637522636718.png"
                                    alt="default-profile-picture">
                                <img *ngIf="post.User.profilePicture" src="{{ post.User.profilePicture }}"
                                    alt="profile-picture">
                            </div>
                            <p><span>{{ post.User.firstName + ' ' + post.User.lastName}}</span><span id="admin"
                                    *ngIf="post.User.isAdmin === 1">ADMIN</span></p>
                        </div>
                        <p id="date">il y a {{ post.createdAt | timeAgo }}</p>
                    </div>

                    <p id="content">{{ post.content }}</p>
                    <div *ngIf="post.attachment !== null" id="attachment">
                        <img src="{{ post.attachment }}" alt="post-file">
                    </div>
                    <p id="likes">Likes: {{ post.nbOfLikes }}</p>
                    <br>
                    <h3 *ngIf="post.Comments.length === 0" class="comments-title">Aucun commentaire</h3>
                    <div *ngIf="post.Comments.length > 0" class="list-group" id="comments-list">
                        <h3 class="comments-title">Commentaires ({{ post.Comments.length }})</h3>
                        <br>
                        <div class="list-group-item router-link" *ngFor="let comment of post.Comments;"
                            routerLink="../../comment/{{ comment.id }}">

                            <div class="user router-link" routerLink="../../my-profile/{{ comment.user_id }}">
                                <div class="pp-and-name">
                                    <div class="pp">
                                        <img *ngIf="!comment.User.profilePicture"
                                            src="../../../assets/images/default_pp.png1637522636718.png"
                                            alt="default-profile-picture">
                                        <img *ngIf="comment.User.profilePicture" src="{{ comment.User.profilePicture }}"
                                            alt="profile-picture">
                                    </div>
                                    <p><span>{{ comment.User.firstName + ' ' + comment.User.lastName}}</span><span
                                            id="admin" *ngIf="comment.User.isAdmin === 1">ADMIN</span></p>
                                </div>
                                <p id="date">il y a {{ comment.createdAt | timeAgo }}</p>
                            </div>

                            <p id="contentComment">{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons" *ngIf="(connectedUserInfo.isAdmin == 1) || (connectedUserInfo.id == post.user_id)">
                <button class="btn btn-primary" type="submit" routerLink="modify">Modifier la publication</button>
                <br><br>
                <button class="btn btn-danger" type="button" (click)="onDeletePost()">Supprimer la
                    publication</button>
            </div>

        </div>
    </div>
</div>
<br><br><br><br><br><br>