<div id="posts-from-user-title">
    <h3>Publications aimées par l'utilisateur</h3>
    <h3>{{likesFromUser.length}}</h3>
</div>

<div class="list-group" id="like-list">
    <div class="post-item" *ngFor="let like of likesFromUser;">

        <div class="post-header">

            <div class="pp-name" routerLink="../{{like.Post.user_id}}">

                <div class="admin-and-pp">

                    <div class="admin-badge" *ngIf="like.Post.User.isAdmin">
                        <fa-icon [icon]="faCrown"></fa-icon>
                    </div>

                    <div class="pp">
                        <img *ngIf="!like.Post.User.profilePicture" src="../../../assets/images/default_pp/default1.png"
                            alt="default-profile-picture">
                        <img *ngIf="like.Post.User.profilePicture" src="{{ like.Post.User.profilePicture }}"
                            alt="profile-picture">
                    </div>

                </div>

                <div class="name">
                    <p>{{like.Post.User.firstName}}<br><span>{{like.Post.User.lastName}}</span></p>
                </div>

            </div>

            <div class="buttons" *ngIf="userConnected.isAdmin || userConnected.id == like.Post.user_id">
                <button id="edit">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button id="delete" (click)="onDeletePost(like.Post.id)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>

        </div>

        <div class="post-body">

            <div class="content">
                <p>{{like.Post.content}}</p>
            </div>

            <div *ngIf="like.Post.attachment" class="attachment">
                <img src="{{like.Post.attachment}}" alt="post-attachment">
            </div>

        </div>

        <div class="post-comment">

            <div class="comment-header">

                <div class="buttons">

                    <div class="likes">

                        <button [ngClass]="{'liked-btn': isThisPostLiked(like.Post.id)}"
                            (click)="onLikePost(like.Post.id)">
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </button>

                        <p>{{like.Post.nbOfLikes}}</p>

                    </div>

                    <div class="comments">

                        <button class="comment-btn" routerLink="../../posts/{{like.Post.id}}">
                            <fa-icon [icon]="faComment"></fa-icon>
                        </button>

                        <p>{{like.Post.Comments.length}}</p>

                    </div>

                </div>

                <div class="post-date">
                    <p>Il y a {{like.Post.createdAt | timeAgo}}</p>
                </div>

            </div>

            <form class="comment-form" id="comment-form" #createCommentForm="ngForm"
                (ngSubmit)="onCreateComment(createCommentForm.value, like.Post.id)">

                <input type="text" placeholder="Commenter la publication..." minlength="5" name="content"
                    #content="ngModel" required ngModel>

                <button type="submit" class="comment-submit">
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                </button>

            </form>

        </div>

    </div>
</div>