@import "../../sass/styles.scss";

#footer {
  background: linear-gradient((90deg, $primary-color-light), $primary-color-dark);
  margin-top: $footer-margin-top;
  height: $footer-height;

  .container-alt {
    padding-top: 40px;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 65%;

    :nth-child(1) {
      background-color: $primary-color-dark;
    }

    :nth-child(2) {
      background-color: $alternative-color;
    }

    :nth-child(3) {
      background-color: $primary-color-light;
    }

    button {
      height: 70px;
      width: 300px;
      font-size: $font-size-secondary;
      font-weight: 600;
      color: white;
      border: none;
      border-radius: $border-radius/1.5;
      text-align: left;
      padding: 0 30px;
    }
  }

  p {
    font-size: $font-size-secondary;
    font-weight: 600;
    color: white;
  }
}
