// Base
@import "./base/main";

// Utils
@import "./utils/mixins";
@import "./utils/variables";

@import "./components/user-header";

@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
