<div id="users-title">
    <h3>Utilisateurs</h3>
    <h3>{{users.length}}</h3>
</div>

<div class="list-group" id="user-list">
    <div class="user-item-card" *ngFor="let user of users;">

        <div class="user">

            <div class="pp-and-name router-link" routerLink="../my-profile/{{ user.id }}">
                <div class="pp">
                    <img *ngIf="user.profilePicture === null" src="../../../assets/images/default_pp/default1.png"
                        alt="default-profile-picture">
                    <img *ngIf="user.profilePicture !== null" src="{{ user.profilePicture }}" alt="profile-picture">
                </div>
                <div class="informations">
                    <p id="name">{{ user.firstName}} <span>{{user.lastName}}</span></p>
                    <p id="date">Membre depuis <span>{{ user.createdAt | timeAgo }}</span><span id="connexion"> ⏤
                            Dernière
                            connexion il y a <span>{{ user.lastConnexion | timeAgo }}</span></span></p>
                </div>
            </div>

            <div class="buttons">
                <button id="edit">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button id="edit" (click)="onDeleteUser(user.id)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>

        </div>

    </div>
</div>