@import "../../../sass/styles.scss";

$pp-height: 45px;

.list-group {
  margin-bottom: 100px;
}

.list-group-item {
  height: 90px;
  margin-bottom: 20px;
}

.header-user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 10px;
    font-size: 6px;
    margin-top: -20px;

    &:hover {
      background-color: #e3e3e3;
    }
  }
}

.user {
  display: flex;
  width: 70%;
  margin-bottom: 20px;

  img {
    height: $pp-height;
    width: $pp-height;
    border-radius: 100px;
    margin-left: -140px;
  }

  .user-name-date {
    margin-left: -560px;

    p {
      margin-top: -6px;
    }
  }
}
