<h3 id="welcome">Bonjour, <span>{{connectedUserInfo.firstName}} 😁</span></h3>

<app-file-upload></app-file-upload>

<div id="users-title">
    <h3>Publications</h3>
    <h3>{{posts.length}}</h3>
</div>

<div class="order-btns">
    <button [ngClass]="{'order-btn': true, 'order-btn-active': whichOrder() == ''}"
        (click)="onChangeOrder('recents')">Récents</button>
    <button [ngClass]="{'order-btn': true, 'order-btn-active': whichOrder() == '/olds'}"
        (click)="onChangeOrder('olds')">Anciens</button>
    <button [ngClass]="{'order-btn': true, 'order-btn-active': whichOrder() == '/liked'}"
        (click)="onChangeOrder('liked')">Les plus aimés</button>
    <button [ngClass]="{'order-btn': true, 'order-btn-active': whichOrder() == '/unliked'}"
        (click)="onChangeOrder('unliked')">Les moins aimés</button>
</div>

<div class="list-group" id="post-list">
    <div class="list-group-item" *ngFor="let post of posts;">

        <div class="user router-link" routerLink="../my-profile/{{ post.user_id }}">
            <div class="pp-and-name">
                <div class="pp">
                    <img *ngIf="post.User.profilePicture === null" src="../../../assets/images/default_pp/default1.png"
                        alt="default-profile-picture">
                    <img *ngIf="post.User.profilePicture !== null" src="{{ post.User.profilePicture }}"
                        alt="profile-picture">
                </div>
                <p><span>{{ post.User.firstName + ' ' + post.User.lastName}}</span><span id="admin"
                        *ngIf="post.User.isAdmin === 1">ADMIN</span></p>
            </div>
            <p id="date">il y a {{ post.createdAt | timeAgo }}</p>
        </div>

        <p id="content" routerLink="{{ post.id }}" class="router-link">{{ post.content }}</p>
        <div *ngIf="post.attachment" id="attachment" routerLink="{{ post.id }}" class="router-link">
            <img src="{{ post.attachment }}" alt="post-file">
        </div>
        <br>
        <p class="router-link" routerLink="{{ post.id }}">Commentaires ({{ post.Comments.length }})</p>
        <br>
        <div class="like-comment">
            <div class="like">
                <button
                    [ngClass]="{'btn': true, 'btn-danger': !isThisPostLiked(post.id), 'btn-warning': isThisPostLiked(post.id)}"
                    (click)="onLikePost(post.id)"><span *ngIf="isThisPostLiked(post.id)">Disliker</span><span
                        *ngIf="!isThisPostLiked(post.id)">Liker</span></button>
                <p id="likes">Likes: {{ post.nbOfLikes }}</p>
            </div>
            <form class="form-group" id="comments-form" #createCommentForm="ngForm"
                (ngSubmit)="onCreateComment(createCommentForm.value, post.id)">
                <input type="text" class="form-control" placeholder="Commenter la publication..." minlength="5"
                    name="content" #content="ngModel" required ngModel>
                <button type="submit" class="btn btn-primary" [disabled]="content.invalid">Publier</button>
            </form>
        </div>
        <br>
    </div>
</div>