<app-file-upload></app-file-upload>
<br>
<div class="header-title">
    <h3>Publications ({{ posts.length }})</h3>
    <form class="buttons-order" [formGroup]="orderForm" (ngSubmit)="onChangeOrder()">
        <select class="form-control" formControlName="order" (change)="changeOrder($event)">
            <option value="recents">Les plus récents</option>
            <option value="olds">Les plus anciens</option>
            <option value="liked">Les plus likés</option>
            <option value="unliked">Les moins aimés</option>
        </select>
        <button class="btn btn-info" type="submit">Actualiser</button>
    </form>
</div>
<br>
<div class="list-group" id="post-list">
    <div class="list-group-item" *ngFor="let post of posts;">

        <div class="user router-link" routerLink="../users/{{ post.user_id }}">
            <div class="pp-and-name">
                <div class="pp">
                    <img *ngIf="post.User.profilePicture === null"
                        src="../../../assets/images/default_pp.png1637522636718.png" alt="default-profile-picture">
                    <img *ngIf="post.User.profilePicture !== null" src="{{ post.User.profilePicture }}"
                        alt="profile-picture">
                </div>
                <p><span>{{ post.User.firstName + ' ' + post.User.lastName}}</span><span id="admin"
                        *ngIf="post.User.isAdmin === 1">ADMIN</span></p>
            </div>
            <p id="date">il y a {{ post.createdAt | timeAgo }}</p>
        </div>

        <p id="content" routerLink="{{ post.id }}" class="router-link">{{ post.content }}</p>
        <div *ngIf="post.attachment !== null" id="attachment" routerLink="{{ post.id }}" class="router-link">
            <img src="{{ post.attachment }}" alt="post-file">
        </div>
        <br>
        <p class="router-link" routerLink="{{ post.id }}">Commentaires ({{ post.Comments.length }})</p>
        <br>
        <div class="like-comment">
            <div class="like">
                <button
                    [ngClass]="{'btn': true, 'btn-danger': !isThisPostLiked(post.id), 'btn-warning': isThisPostLiked(post.id)}"
                    (click)="onLikePost(post.id)"><span *ngIf="isThisPostLiked(post.id)">Disliker</span><span
                        *ngIf="!isThisPostLiked(post.id)">Liker</span></button>
                <p id="likes">Likes: {{ post.nbOfLikes }}</p>
            </div>
            <form class="form-group" id="comments-form" #createCommentForm="ngForm"
                (ngSubmit)="onCreateComment(createCommentForm.value, post.id)">
                <input type="text" class="form-control" placeholder="Commenter la publication..." minlength="5"
                    name="content" #content="ngModel" required ngModel>
                <button type="submit" class="btn btn-primary" [disabled]="content.invalid">Publier</button>
            </form>
        </div>
        <br>
    </div>
</div>