<div class="container">

    <div class="row">

        <div class="col-xs-12">
            <h3>Connexion</h3>
            <br>

            <form class="form-group" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">

                <input type="text" class="form-control" placeholder="Adresse e-mail" name="email" #email="ngModel"
                    required ngModel>
                <br>
                <input type="password" class="form-control" placeholder="Mot de passe" name="password"
                    #password="ngModel" required ngModel>
                <br>
                <button class="btn btn-primary" type="submit">Se connecter</button>
                <br>
                <div class="alert alert-danger"
                    *ngIf="(email.invalid && (email.dirty || email.touched)) || (password.invalid && (password.dirty || password.touched))">
                    <p>Tous les champs sont requis.</p>
                </div>
                <br><br><br>
                <a routerLink="signup">Informations de compte oubliées ?</a>

            </form>
        </div>

    </div>

</div>