<div class="container">

    <div class="row signup-slogan">
        <div class="col">
            <img src="../../assets/images/login-success.png" alt="groupomania-logo" height="55px" width="250px">
        </div>
        <div class="col col-sentence">
            <p>Votre futur <span>meilleur ami </span>travaille<br>peut-être déjà dans votre entreprise</p>
        </div>
        <div class="col col-users">
            <p>Rejoignez plus de <span>{{ usersNumber }} </span>utilisateurs</p>
            <div class="users"></div>
        </div>
        <div class="col col-connexion">
            <p>Vous avez déjà un <span>compte </span>?</p>
            <button>Se connecter</button>
        </div>
    </div>

    <div class="row signup-box">
        <div class="col col-title">
            <h2>Inscription</h2>
        </div>
        <div class="col col-form">
            <form>
                <input type="text" placeholder="Prénom" required>
                <input type="text" placeholder="Nom" required>
                <input type="text" placeholder="Adresse e-mail" required>
                <input type="password" placeholder="Mot de passe" required>
            </form>
            <p>Tout est bon, c'est parti !</p>
        </div>
        <div class="col col-create">
            <button>Créer un compte</button>
        </div>
    </div>

</div>