@import "../sass/styles.scss";

#navbar {
  height: $navbar-height;
  background: linear-gradient(90deg, $primary-color, lighten($primary-color, 20%));
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #arrow-back {
    position: absolute;
    font-size: 35px;
    color: white;
    left: 0;
    margin-left: 100px;
    cursor: pointer;
    transition: all 200ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
      color: darken(white, 8%);
    }
  }

  // Logo Groupomania
  img {
    width: $navbar-height*2;
    margin: 0;
    cursor: pointer;
    transition: all 200ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  // Barre de navigation droite
  .nav-buttons {
    height: $nav-buttons-height*1.1;
    margin: 0;

    .nav-btn {
      margin-left: 20px;
      border: none;
      background-color: $primary-color;
      color: white;
      font-weight: 500;
      padding: 10px;
      height: $nav-buttons-height;
      width: $button-nav-width;
      border-radius: 100px;
      transition: all 200ms;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        background-color: darken($primary-color, 10%);
        transform: scale(1);
      }
    }

    .nav-btn-active {
      background-color: white;
      color: $primary-color;
    }

    // Bouton de déconnexion
    .nav-btn-signout {
      background-color: $danger-color;
      border-radius: 100px;
      border: none;
      color: white;
      padding: 10px;
      margin-left: 20px;
      font-size: 20px;
      height: $nav-buttons-height;
      width: $nav-buttons-height;
      transition: all 200ms;

      &:hover {
        transform: scale(1.15);
      }

      &:active {
        background-color: darken($danger-color, 10%);
        transform: scale(1);
      }
    }
  }
}

#footer {
  margin-top: 150px;
  height: $navbar-height*2;
  background: linear-gradient(-90deg, $primary-color, lighten($primary-color, 20%));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  #arrow-top {
    position: absolute;
    font-size: 35px;
    color: white;
    left: 0;
    margin-left: 100px;
    margin-top: 32px;
    cursor: pointer;
    transition: all 200ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
      color: darken(white, 8%);
    }
  }

  .footer-btns {
    height: $nav-buttons-height*1.1;
    width: 50%;
    display: flex;
    justify-content: space-between;

    .footer-btn {
      width: $button-nav-width*1.5;
      height: $nav-buttons-height;
      border-radius: 100px;
      color: $primary-color;
      border: none;
      font-weight: 500;
      background-color: white;
      transition: all 200ms;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        background-color: darken(white, 10%);
        transform: scale(1);
      }
    }
  }

  h4 {
    color: white;
    font-weight: 600;
    font-size: 15px;
  }
}
