@import "../sass/styles.scss";

// Variables
$header-height: 120px;

$footer-margin-top: 100px;
$footer-height: 300px;

// Mixins

// Header
#header {
  margin-bottom: $footer-margin-top/2;
  height: $header-height;
  background: linear-gradient((90deg, $primary-color-dark), $primary-color-light);
  display: flex;
  opacity: 80%;

  img {
    margin-left: $margin-laterals;
    height: $header-height/3.5;
  }
}

.blur-effect {
  width: 100%;
  height: $header-height;
  z-index: 0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(7px) grayscale(1) opacity(0.95);
}

// Footer
#footer {
  background: linear-gradient((90deg, $primary-color-light), $primary-color-dark);
  margin-top: $footer-margin-top;
  height: $footer-height;

  .container-alt {
    padding-top: 40px;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 65%;

    :nth-child(1) {
      background-color: $primary-color-dark;
    }

    :nth-child(2) {
      background-color: $alternative-color;
    }

    :nth-child(3) {
      background-color: $primary-color-light;
    }

    button {
      height: 70px;
      width: 300px;
      font-size: $font-size-secondary;
      font-weight: 600;
      color: white;
      border: none;
      border-radius: $border-radius/1.5;
      text-align: left;
      padding: 0 30px;
    }
  }

  p {
    font-size: $font-size-secondary;
    font-weight: 600;
    color: white;
  }
}
