<div class="navbar-fixed-top" id="header">
    <a class="navbar-left" href="#"><img src="../../assets/images/icon-left-font-monochrome-white.svg"
            alt="groupomania-logo"></a>
</div>
<div class="navbar-fixed-top blur-effect"></div>
<app-signup></app-signup>
<div id="footer">
    <div class="container-alt">
        <div class="buttons">
            <button>Contact</button>
            <button>FAQ & Aide</button>
            <button>Conditions générales</button>
        </div>
        <p>Copyright © 2021 - GROUPOMANIA INC.</p>
    </div>
</div>