@import "../sass/styles.scss";

// Variables
$header-height: 120px;

$footer-margin-top: 100px;
$footer-height: 300px;

.navbar {
  .container-fluid {
    .navbar-collapse {
      .navbar-brand {
        a {
          text-decoration: none;
          font-weight: 600;
          padding: 7px 15px;
          border-radius: 100px;
          transition: all 300ms;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

#user {
  font-weight: 600;
}
