<div id="navbar">
    <img src="../assets/images/icon-left-font-monochrome-white.png" alt="logo-groupomania" routerLink="dashboard/posts">
    <div id="nav-users" class="nav-buttons" *ngIf="navbarUser()">
        <button [ngClass]="{'nav-btn': true, 'nav-btn-active': whichPath() == 'signup'}"
            routerLink="signup">S'inscrire</button>
        <button [ngClass]="{'nav-btn': true, 'nav-btn-active': whichPath() == 'login'}" routerLink="login">Se
            connecter</button>
    </div>
    <div id="nav-dashboard" class="nav-buttons" *ngIf="navbarDashboard()">
        <button [ngClass]="{'nav-btn': true, 'nav-btn-active': whichPath() == 'posts'}"
            routerLink="dashboard/posts">Publications</button>
        <button [ngClass]="{'nav-btn': true, 'nav-btn-active': whichPath() == 'users'}"
            routerLink="dashboard/users">Utilisateurs</button>
        <button [ngClass]="{'nav-btn': true, 'nav-btn-active': whichPath() == 'my-profile'}"
            routerLink="dashboard/my-profile/user">Mon
            profil</button>
        <button [ngClass]="{'nav-btn-signout': true}" (click)="onLogOut()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </button>
    </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<div id="footer">
    <div class="footer-btns">
        <button class="footer-btn">Conditions générales</button>
        <button class="footer-btn">Contact</button>
        <button class="footer-btn">FAQ & Aide</button>
    </div>
    <h4>© GROUPOMANIA - All Rights Reserved</h4>
</div>