@import "../../../../sass/styles.scss";

form {
  .text-input {
    padding: 20px 0 100px 20px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    margin-bottom: 20px;

    &::placeholder {
      opacity: 50%;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button,
    label {
      width: 48.5%;
      border: none;
      border-radius: 100px;
      height: $nav-buttons-height;
      font-weight: 500;
      color: white;
      margin: 0;
      text-align: center;
      line-height: $nav-buttons-height;

      &:enabled:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    }

    label {
      background-color: $primary-color;
      transition: all 400ms;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
      }

      &:active {
        transform: scale(1);
        background-color: darken($primary-color, 5%);
      }
    }

    button {
      background-color: $primary-color;
      transition: all 400ms;

      &:enabled:active {
        transform: scale(1);
        background-color: darken($primary-color, 5%);
      }

      &:disabled {
        opacity: 50%;
      }
    }
  }

}
