<form [formGroup]="postCreationForm" (ngSubmit)="onPostCreation()" id="form">

    <br>
    <input class="text-input" type="text" minlength="5" maxlength="700" placeholder="Quoi de neuf ?"
        formControlName="content" id="content">
    <br>
    <div class="buttons">
        <label for="attachment" id="file">Ajouter une photo</label>
        <input class="hidden" id="attachment" formControlName="attachment" type="file" (change)="onFileChange($event)">
        <button type="submit" [disabled]="f.content.invalid">Publier</button>
    </div>

</form>