<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h3>Commentaire (n°{{ comment.id }})</h3>
            <br>
            <div class="list-group" id="post-list">
                <div class="list-group-item">
                    <div class="header-post">
                        <div class="user router-link" routerLink="../../my-profile/{{ comment.user_id }}">
                            <img *ngIf="comment.User.profilePicture == null"
                                src="../../../assets/images/default_pp.png1637522636718.png"
                                alt="default-profile-picture">
                            <img *ngIf="comment.User.profilePicture !== null" src="{{ comment.User.profilePicture }}"
                                alt="profile-picture">
                            <div class="user-name-date">
                                <h4>{{ comment.User.firstName + ' ' + comment.User.lastName }}<span
                                        *ngIf="comment.User.isAdmin === 1" id="admin">ADMIN</span></h4>
                                <p>{{ comment.createdAt | date:'medium' }}</p>
                            </div>
                        </div>
                    </div>
                    <form class="form-group" #commentForm="ngForm" (ngSubmit)="onCommentUpdate(commentForm.value)">
                        <input class="form-control" id="content" placeholder="{{ comment.content }}" name="content"
                            minlength="5" #content="ngModel" required ngModel>
                        <div class="buttons"
                            *ngIf="(connectedUserInfo.isAdmin == 1) || (connectedUserInfo.id == comment.user_id)">
                            <button class="btn btn-primary" type="submit">Sauvegarder les modifications</button>
                            <br><br>
                            <button class="btn btn-danger" type="submit" (click)="onDeleteComment()">Supprimer le
                                commentaire</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br><br><br><br>