<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div id="posts-from-user-title">
                <h3>Commentaire du <span>{{comment.createdAt | date:'dd-MM-y'}}, à {{comment.createdAt |
                        date:'shortTime'}}</span><span *ngIf="comment.createdAt !== comment.updatedAt"> (modifié le
                        {{comment.updatedAt | date: 'dd-MM-y'}}, à
                        {{comment.updatedAt | date:'shortTime'}})</span>
                </h3>
                <h3>#{{comment.id}}</h3>
            </div>

            <div class="list-group" id="comment-list">
                <div class="comment-item">

                    <div class="comment-header">

                        <div class="pp-name">

                            <div [ngClass]="{'pp': true, 'admin-pp': comment.User.isAdmin}">
                                <img *ngIf="!comment.User.profilePicture"
                                    src="../../../assets/images/default_pp/default1.png" alt="default-profile-picture">
                                <img *ngIf="comment.User.profilePicture" src="{{ comment.User.profilePicture }}"
                                    alt="profile-picture">
                            </div>

                            <div class="name">
                                <p>{{comment.User.firstName}}<br><span>{{comment.User.lastName}}</span></p>
                            </div>

                        </div>

                    </div>

                    <form class="comment-body" #commentForm="ngForm" (ngSubmit)="onCommentUpdate(commentForm.value)">

                        <input class="content" type="text" ngModel="{{comment.content}}" name="content" id="content"
                            minlength="5" #content="ngModel" required ngModel>

                        <button type="submit" class="save-modif">Sauvegarder les modifications</button>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>