@import "../../../sass/styles.scss";

$pp-height: 45px;

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  button {
    min-height: 35px;
    min-width: 49%;
  }
}

#admin {
  font-size: 14px;
  margin-left: 6px;
  background-color: $primary-color;
  color: white;
  padding: 3px 12px;
  border-radius: 5px;
}

#content,
#contentComment {
  margin-bottom: 20px;
  font-size: 18px;
}

.list-group-item {
  margin-bottom: 20px;
  padding: 15px 25px;
}

#attachment {
  display: flex;
  border-radius: 10px;
  height: 500px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;

  img {
    width: 100vw;
    height: 100vh;
  }
}
