// Colors
$primary-color: #6A70FA;
$primary-color-light: #6a94ff;
$primary-color-dark: #7334FC;
$alternative-color: #898dfe;
$danger-color: #FF587F;

// Border-radius
$border-radius: 20px;

// Margins
$margin-laterals: 60px;

// Fonts
$font-size-secondary: 18px;

// Sizes
$pp-height: 50px;
