// Colors
$primary-color: #7B41F9;
$primary-color-light: #6a94ff;
$primary-color-dark: #7334FC;
$alternative-color: #898dfe;
$danger-color: #FF0780;

// Border-radius
$border-radius: 20px;

// Margins
$margin-laterals: 60px;
$user-margin-top: 60px;
$fa-icon-margin-left-input: 25px;

// Fonts
$font-size-secondary: 18px;

// Sizes
$pp-height: 50px;
$navbar-height: 100px;
$button-nav-width: 150px;
$nav-buttons-height: 45px;
$user-form-width: 330px;
